anthropic
azure-ai-formrecognizer
cohere
faiss-cpu
jupyterlab
langchain
langchain-cli
langchainhub
langserve
langsmith
numpy
openai
opencv-python-headless
pymongo
pypdf
rank_bm25
rapidocr-onnxruntime
streamlit
streamlit-feedback
tiktoken
together
unstructured[pdf]
nbconvert>=7.17.0 # not directly required, pinned by Snyk to avoid a vulnerability
protobuf>=5.29.6 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
