anthropic
azure-ai-formrecognizer
cohere
faiss-cpu
jupyterlab
langchain
langchain-cli
langchainhub
langserve
langsmith
numpy
openai
opencv-python-headless
pymongo
pypdf
rank_bm25
rapidocr-onnxruntime
streamlit
streamlit-feedback
tiktoken
together
unstructured[pdf]
sympy>=1.12 # not directly required, pinned by Snyk to avoid a vulnerability
